.editor-container-left {
  height: 530px;
  border: 2px solid #bdbdbd;
  /* border-radius: 8px; */
  overflow: auto; /* Allow scrolling if content overflows */
}

.editor-container-right {
  min-height: 600px;
  border: #bdbdbd; /*Add border for consistency*/
  /* border-radius: 8px;/ */
  /* box-shadow: black; */
  box-shadow: 0 0 5px #bdbdbd; /* Shadow effect */

  /* overflow: auto;  */
  /* overflow-wrap: break-word; For modern browsers */
  padding: 40px; /* Add some padding for aesthetics */
}

/* Optional: Adjust width for better layout */
.editor-container-left,
.editor-container-right {
  width: 100%; /* Full width for responsive design */
}

/* CSS to disable interaction in target-content */
#target-content {
  pointer-events: none; /* Disables all user interaction */
  user-select: none; /*Disables text selection*/
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
table {
  page-break-inside: avoid;
}

.export-btn {
  background: linear-gradient(to bottom, #2980b9, #3498db);
  border-radius: 4px;
  /* font-family: Georgia, serif; */
  color: #ffffff;
  font-size: 15px;
  padding: 5px 15px;
  text-decoration: none;
  border: none;
}
.export-btn-disabled {
  background: linear-gradient(to bottom, #7e7f80, #b5b7b8);
  border-radius: 4px;
  /* font-family: Georgia, serif; */
  color: #ffffff;
  font-size: 15px;
  padding: 5px 15px;
  text-decoration: none;
  border: none;
}

/* .break-before {
  break-before: always;
}
.break-after {
  break-after: always;
} */

/* .break-before {
  page-break-before: always;
}
.break-after {
  page-break-after: always;
} */

.ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable) {
  outline: none;
  border: none !important;
  box-shadow: none !important;
}

.ck-widget.table
  td.ck-editor__nested-editable.ck-editor__nested-editable_focused,
.ck-widget.table
  th.ck-editor__nested-editable.ck-editor__nested-editable_focused,
.ck-widget.table td.ck-editor__nested-editable:focus,
.ck-widget.table th.ck-editor__nested-editable:focus {
  background: none !important;
  outline: none !important;
  outline-offset: none !important;
}

ck .ck-editor__nested-editable.ck-editor__nested-editable_focused,
.ck .ck-editor__nested-editable:focus {
  box-shadow: none !important;
}
.heading {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 10px 0 5px 15px;
  /* border-left: 5px solid #3498db; */
  color: #333;
}

.fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.divsHeading {
  position: fixed;
  z-index: 100;
  background-color: white;
  width: 100%;
}

.editor-container-left {
  position: sticky;
  top: 125px; /* Adjust based on button height and margin */
}

.editor-container-right {
  /* position: sticky; */
  margin-top: 54px; /* Adjust based on button height and margin */
  /* max-height: calc(100vh - 120px); Full screen minus button and margin */
  /* overflow-y: auto; */
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #f9f9f9;
}

.export-btn,
.export-btn-disabled {
  padding: 10px 20px;
}

.export-btn-disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
