/* .editor-container-left{
    height:600px;
    border: 2px solid #bdbdbd;
    border-radius: 8px;
}
.editor-container-right{
    height:600px;
    /* width:200px */

.editor-container-left {
  height: 600px;
  border: 2px solid #bdbdbd;
  /* border-radius: 8px; */
  overflow: auto; /* Allow scrolling if content overflows */
}

.editor-container-right {
  min-height: 600px;
  border: #bdbdbd; /*Add border for consistency*/
  /* border-radius: 8px;/ */
  /* box-shadow: black; */
  box-shadow: 0 0 5px #bdbdbd; /* Shadow effect */

  /* overflow: auto;  */
  overflow-wrap: break-word; /* For modern browsers */
  padding: 40px; /* Add some padding for aesthetics */
}

/* Optional: Adjust width for better layout */
.editor-container-left,
.editor-container-right {
  width: 100%; /* Full width for responsive design */
}

/* CSS to disable interaction in target-content */
#target-content {
  pointer-events: none; /* Disables all user interaction */
  user-select: none; /*Disables text selection*/
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
table {
  page-break-inside: avoid;
}

/* Create more natural page breaks */
.editor-container-right {
  margin: none;
}

.editor-container-right * {
  break-inside: avoid;
  page-break-inside: avoid;
}

.export-btn {
  background: linear-gradient(to bottom, #2980b9, #3498db);
  border-radius: 4px;
  /* font-family: Georgia, serif; */
  color: #ffffff;
  font-size: 15px;
  padding: 5px 15px;
  text-decoration: none;
  border: none;
}
.export-btn-disabled {
  background: linear-gradient(to bottom, #7e7f80, #b5b7b8);
  border-radius: 4px;
  /* font-family: Georgia, serif; */
  color: #ffffff;
  font-size: 15px;
  padding: 5px 15px;
  text-decoration: none;
  border: none;
}

/* .break-before {
  break-before: always;
}
.break-after {
  break-after: always;
} */

.ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable) {
  outline: none;
  border: none !important;
  box-shadow: none !important;
}

.ck-widget.table
  td.ck-editor__nested-editable.ck-editor__nested-editable_focused,
.ck-widget.table
  th.ck-editor__nested-editable.ck-editor__nested-editable_focused,
.ck-widget.table td.ck-editor__nested-editable:focus,
.ck-widget.table th.ck-editor__nested-editable:focus {
  background: none !important;
  outline: none !important;
  outline-offset: none !important;
}

ck .ck-editor__nested-editable.ck-editor__nested-editable_focused,
.ck .ck-editor__nested-editable:focus {
  box-shadow: none !important;
}
