.nav-bar {
  background: #f8f9fa;
  width: 80px;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 3000;
  min-height: 500px;
}

.nav-bar .logo {
  display: block;
  padding: 5px 1;
  text-align: center;
}

.nav-bar .logo img {
  display: block;
  margin: 20px auto;
  width: 38px;
  height: auto;
}

.nav-bar nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  gap: 20px; /* Space between icons */
  width: 100%;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #4d4d4e;
  transition: color 0.3s ease-out;
}

.nav-item:hover {
  color: #51c2ff;
}

.nav-item span {
  margin-top: 8px; /* Space between icon and text */
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav-item.active svg {
  color: #2aadff;
}
